<?xml version="1.0" encoding="UTF-8" ?>
<!--
   /**
    * Created by Qoliber
    *
    * @category    Qoliber
    * @package     Qoliber_EventCalendar
    * @author      Jakub Winkler <jwinkler@qoliber.com>
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <qoliber_event_calendar>
            <general>
                <membership_notice>
                    <![CDATA[Become a member to gain access to event submission/edit.]]>
                </membership_notice>
            </general>
            <seo_list>
                <meta_title>
                    <![CDATA[Magento Association - Event Calendar]]>
                </meta_title>
                <meta_description>
                    <![CDATA[Stay up to date with the latest Magento and eCommerce events]]>
                </meta_description>
                <meta_keywords>
                    <![CDATA[Magento events, eCommerce events, Magento conference]]>
                </meta_keywords>
            </seo_list>
            <seo_new>
                <meta_title>
                    <![CDATA[Magento Association—Add New Event]]>
                </meta_title>
                <meta_description>
                    <![CDATA[Stay up to date with the latest Magento and eCommerce events]]>
                </meta_description>
                <meta_keywords>
                    <![CDATA[Magento events, eCommerce events, Magento conference, Meet Magento]]>
                </meta_keywords>
            </seo_new>
        </qoliber_event_calendar>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <media_gallery_image_folders>
                        <events>events</events>
                    </media_gallery_image_folders>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
</config>
