@background-white: #f1f4f5;
@border-gray: #ccc;
@bg-blue: #007bff;

.event-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: @background-white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    .form-group {
        margin-bottom: 15px;

        .field.choice {
            display: flex;
            margin-bottom: 15px;

            input[type='checkbox'] {
                height: 13px;
                width: 13px;
            }
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input,
        select {
            height: 40px;
        }

        input,
        select,
        textarea {
            border: 1px solid @border-gray;
            border-radius: 4px;
            font-size: 14px;
            padding: 8px;
            width: 100%;
        }

        textarea {
            resize: vertical;
        }
    }

    .two-column-container {
        display: flex;
        gap: 10px;

        .form-field {
            width: 50%;
        }
    }

    .date-container {
        display: flex;
        gap: 10px;

        .date-field {
            width: 50%;
        }
    }

    .form-actions {
        text-align: center;
    }

    .current-logo {
        font-size: 0;
        margin: 10px 0;
        max-width: 100px;
    }
}

.event-form .form-actions .action.primary,
.events-myevents-index .button-wrapper .action.primary {
    background-color: @bg-blue;
    border: none;
    border-radius: 4px;
    color: @background-white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    transition: background .3s;

    &:hover {
        background-color: @bg-blue;
    }
}

.events-myevents-index .button-wrapper {
    margin-bottom: 30px;
}
