<?xml version="1.0" encoding="UTF-8" ?>
<!--
   /**
    * Created by Qoliber
    *
    * @category    Qoliber
    * @package     Qoliber_EventCalendar
    * @author      Jakub Winkler <jwinkler@qoliber.com>
    */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="qoliber_event_calendar" translate="label" sortOrder="70" showInDefault="1">
            <class>separator-top</class>
            <label>Event Calendar Config</label>
            <tab>qoliber</tab>
            <resource>Qoliber_EventCalendar::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1">
                <label>General Configuration</label>
                <field id="enable_for_customer_groups" translate="label comment" type="multiselect"
                       sortOrder="10" showInDefault="1">
                    <label>Enable for Specific Customer Groups</label>
                    <comment>The form will be enabled for all customer groups if none are selected.</comment>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                </field>
                <field id="membership_notice" translate="label comment" type="text"
                       sortOrder="10" showInDefault="1">
                    <label>Membership Notice</label>
                    <comment>This is the message shown when a user is not eligible to view the form.</comment>
                </field>
            </group>

            <group id="seo_list" translate="label" sortOrder="10" showInDefault="1">
                <label>SEO - Event List Page</label>
                <field id="meta_title" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Meta Title</label>
                </field>
                <field id="meta_description" translate="label comment" type="textarea" sortOrder="10" showInDefault="1">
                    <label>Meta Description</label>
                </field>
                <field id="meta_keywords" translate="label comment" type="textarea" sortOrder="10" showInDefault="1">
                    <label>Meta Keywords</label>
                </field>
            </group>

            <group id="seo_new" translate="label" sortOrder="10" showInDefault="1">
                <label>SEO - New Event Page</label>
                <field id="meta_title" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>Meta Title</label>
                </field>
                <field id="meta_description" translate="label comment" type="textarea" sortOrder="10" showInDefault="1">
                    <label>Meta Description</label>
                </field>
                <field id="meta_keywords" translate="label comment" type="textarea" sortOrder="10" showInDefault="1">
                    <label>Meta Keywords</label>
                </field>
            </group>
        </section>
        <section id="recaptcha_frontend">
            <group id="type_for">
                <field id="event_form" translate="label" type="select"
                       sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Recaptcha for New Event Form</label>
                    <source_model>Magento\ReCaptchaAdminUi\Model\OptionSource\Type</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
